<nav class="uk-navbar">
    <a href="/" class="uk-navbar-brand">
        <img src="/images/logo.png" class="logo-white">
        <img src="/images/logo2.png" class="logo-black">
    </a>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li data-uk-dropdown="{mode:'click'}" class="language">
                    <button class="uk-button uk-button-default" type="button">EN</button>
                    <div class="uk-dropdown language-dropdown">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="/?language=en">EN</a></li>
                            <li><a href="/">ES</a></li>
                        </ul>
                    </div>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-flip uk-hidden-small">
            <ul class="uk-navbar-nav">
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/explore">EXPLORE</a></li>
                <li><a href="">BLOG</a></li>
            </ul>
    </div>
    <a href="#toggler" class="uk-navbar-nav uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
</nav>
<div id="toggler" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul>
            <li><a href="#Home" data-uk-smooth-scroll>SHOP</a></li>
            <li><a href="#HotelAndCulture" data-uk-smooth-scroll>EXPLORE</a></li>
            <li><a href="#RoomAndPrices" data-uk-smooth-scroll>BLOG</a></li>
        </ul>
    </div>
</div>