<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/slideshow.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/core/smooth-scroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/core/dropdown.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/form-select.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>


<!-- This is the modal -->
<div id="cart" class="uk-modal">
    <div class="uk-modal-dialog">
        <form action="/shop/checkout" method="GET" id="checkoutForm">
            <a class="uk-modal-close uk-close"></a>
            <!-- <b>Subtotal</b> $189 USD -->
            <b>Your Cart</b>
            <div class="cart-details">
                
            </div>
            <div class="checkout-button">
                <input type="hidden" name="planId" id="planId" value="">
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin  uk-text-center">CHECKOUT</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var cartModal = UIkit.modal("#cart");
    $.ajax({
        url:"/shop/usercart",
        method:"GET",
        data:{

        },
        success:function(data){
            console.log(data);
            $(".cart-count").html(data.length);
        },
        error:function(err){
            console.log(err);
        }
    });

    $(".navbar-cart").click(function(e){
        cartModal.show();
        $.ajax({
            url:"/shop/usercart",
            method:"GET",
            data:{

            },
            success:function(data){
                console.log(data);
                $(".cart-count").html(data.length);
                $(".cart-details").html("");
                if(data.length<1){
                    var itemHtml = '<div class="uk-grid" data-uk-grid=""><div class="widht-1-1">Your Cart Is Empty</div></div>';
                    $(".cart-details").append(itemHtml);
                }
                data.forEach(function(cartItem){
                    var amount=0;
                    var amountPostfix="";
                    if(cartItem.planType=="bracelet"){
                        amount=cartItem.planDetails.devicePrice;
                    }
                    else if(cartItem.planType=="monthly"){
                        amount=cartItem.planDetails.monthlyPrice;
                        amountPostfix="/mo"
                    }
                    else if(cartItem.planType=="yearly"){
                        amount=cartItem.planDetails.yearlyPrice;
                        amountPostfix="/yr"
                    }
                    var itemHtml = '<div class="uk-grid cart-item-grid" data-uk-grid=""><div class="uk-width-small-1-5"><div class="cart-product-image"></div></div><div class="uk-width-small-3-5 uk-text-left cart-all-details-sidebar"><p>'+cartItem.planDetails.product.name+' ('+cartItem.planDetails.product.details+')'+'</p><p class="pink-color">$'+amount+amountPostfix+'</p><p class="pink-color">Plan:'+cartItem.planDetails.name+'</p></div><div class="uk-width-small-1-5 uk-text-right"><span class="pink-color">'+cartItem.quantity+'</span></div></div>'
                    $(".cart-details").append(itemHtml);
                })
                cartModal.show();
                console.log(data);
            },
            error:function(err){
                console.log(err);
            }
        })
    })
</script>