<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <base href="/shop/">
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>

    <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center" style="padding-top:120px;">
        <h1>DISCOVER OUR COLLECTIONS</h1>
        <div class="uk-grid" data-uk-grid style="padding-top:30px;">
            <div class="uk-width-medium-1-2">
                <div class="product-colors-container">
                    <div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}">
                        <ul class="uk-slideshow" data-uk-slideshow>
                            <li>
                                <img src="/images/bg1.png" width="800" height="400">
                            </li>
                            <li>
                                <img src="/images/bg2.png" width="800" height="400">
                            </li>
                        </ul>
                        <!-- <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a> -->
                        <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                            <li data-uk-slideshow-item="0"><a href=""></a></li>
                            <li data-uk-slideshow-item="1"><a href=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="product-description">
                    <p><b>Pacific Ocean Collection</b></p>
                    <p>$100</p>
                    <a href="/shop/plans"><button class="uk-button uk-button-primary">BUY NOW</button></a>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="product-colors-container">
                    <div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}">
                        <ul class="uk-slideshow" data-uk-slideshow>
                            <li>
                                <img src="/images/bg1.png" width="800" height="400">
                            </li>
                            <li>
                                <img src="/images/bg2.png" width="800" height="400">
                            </li>
                        </ul>
                        <!-- <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a> -->
                        <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                            <li data-uk-slideshow-item="0"><a href=""></a></li>
                            <li data-uk-slideshow-item="1"><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="product-description">
                        <p><b>Eve Collection</b></p>
                        <p>$100</p>
                        <a href="/shop/plans"><button class="uk-button uk-button-primary">BUY NOW</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%include includes/footer.ejs%>

<%include includes/scripts.ejs%>
<script type="text/javascript">
    
    toggleLogo();

    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }
</script>
</body>
</html>