
@font-face{
    font-family: Roboto;
    src:url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    src:url(/fonts/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face{
    font-family: Roboto;
    src:url(/fonts/Roboto-Light.ttf);
    font-style: italic;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6,p, html{
    font-family: Roboto;
    color:black;
}

h1, h2, h3, h4{
    font-family: Roboto;
}

*{
    box-sizing: border-box;
}

.padding-sides{
    padding-left: 4%;
    padding-right: 4%;
}

.padding-top-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-right{
    padding-right: 40px;
}

.reviews .profile-picture{
    width:50px;
    height:50px;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-top: -25px;
}

.reviews{
    background-color: #E9E9E9;
    padding:20px;
    padding-top: 0px;
    margin-top: 40px;
}

.reviews p.reviewer-name{
    margin-top: 4px;
    margin-bottom: 0px;
}

.pink-color{
    color:#DB0988;
}

.features p{
    color:white;
    max-width: 200px;
    text-align: center;
    display: inline-block;
}

.features img{
    margin-bottom: 10px;
}

.features .feature{
    padding-bottom: 20px;
}

.app-buttons button .app-button-container,.app-buttons button .app-detail-container{
    display: inline-block;
    vertical-align: middle;
}

.app-buttons button .app-button-container{
    padding-right: 10px;
}

.app-buttons button p{
    color:white;
    margin-top:1px;
    margin-bottom: 1px;
}

.app-buttons button{
    padding-left:30px;
    padding-right:30px;
    margin-bottom: 10px;
}

.app-buttons button .app-detail-container{
    text-align: left;
    padding-left: 10px;
}

.contact-form{
    width:300px;
    display: inline-block;
}

input,textarea{
    width:100% !important;
    margin-bottom: 10px !important;
    border:2px solid #a90066 !important;
    border-radius: 8px !important;
    color:#a90066 !important;
    padding:10px !important;
    height:initial !important;
}

.contact-form textarea{
    height:100px !important;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f58fcd!important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #f58fcd!important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #f58fcd!important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #f58fcd!important;
}
input::placeholder{
    color:#f58fcd!important;
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f58fcd!important;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color: #f58fcd!important;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: #f58fcd!important;
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: #f58fcd!important;
}
textarea::placeholder{
    color:#f58fcd!important;
}

.contact .sub-title{
    margin-bottom: 40px;
}

.contact-text{
    width:300px;
    display: inline-block;
}

footer{
    background-color: #232525;
    padding:10px;
}

footer ul li {
    display: inline-block;
    padding:10px;
    color:white;
}

footer a{
    color:white;
}

footer ul{
    margin:0px;
    padding:0px;
}

footer p{
    color:white;
    margin:0px;
    padding:10px;
}

.logo-black{
    display: none;
}

.language{
    margin-top: 5px;
}

.language button{
    border-radius: 100%;
    width:32px;
    padding:0px;
    margin-right: 10px;
}

.language-dropdown{
    width:37px;
    left:-10px;
    background-color: transparent;
}

.language-dropdown li a{
    padding: 8px;
    padding-top: 6px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.product-description{
    margin-top: 20px;
}

#shop{
    /* start 'enter' transition */
        &.ng-enter {
            /* transition on enter for .5s */
            transition: .5s;
     
            /* start with opacity 0 (invisible) */
            opacity: 0;
        }
     
        /* end 'enter' transition */
        &.ng-enter-active {
            /* end with opacity 1 (fade in) */
            opacity: 1;
        }
}

#cart .cart-product-image{
    min-width:80px;
    min-height:80px;
    background-image: url(/images/bg1.png);
    background-size: cover;
    background-position: center center;
}

#cart .uk-modal-dialog{
    position:absolute;
    right:0px;
    background-color: rgba(255,255,255,1);
    margin:0px;
}

#cart{
    /*background-color: transparent;*/
}

#cart .uk-modal-dialog{
    -webkit-transform:translateX(100px) !important;
    transform: translateX(100px) !important;
    width:445px;
}

#cart.uk-open .uk-modal-dialog{
    -webkit-transform:translateX(0) !important;
    transform: translateX(0) !important;
    min-height:100%;
}

.cart-details{
    border-bottom:1px solid #666666;
    padding-bottom: 10px;
    padding-top: 10px;
}

.checkout-button{
    padding-top: 10px;
    font-weight:bolder;
}

.choose-plan-button.active{
    color:#a90066;
    border-color: #a90066;
}

.choose-payment-type-button.active{
    color:#a90066;
    border-color: #a90066;
}

.register-login-container{
    border:2px solid #a90066;
    border-radius: 8px;
    padding:25px;
    margin:25px;
    -webkit-flex:initial !important;
    flex:initial !important;
    display:inline-block;
}

.cart-container .cart-product-image{
    width:80px;
    height:80px;
    background-image: url(/images/bg1.png);
    background-size: cover;
    background-position: center center;
}

.inline-inputs input{
    width:initial !important;
    display: inline-block;
}

.inline-inputs input:first-child{
    min-width:300px;
}

.cart-container{
    padding:20px 0px;
    border-bottom:1px solid #999999;
}