
@font-face{
    font-family: Roboto;
    src:url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    src:url(/fonts/Roboto-Light.ttf);
    font-style: italic;
    font-weight: lighter;
}

@font-face{
    font-family: Sofia;
    src:url(/fonts/Sofia-Regular.otf);
}

h1, h2, h3, h4, h5, h6,p, html{
    font-family: Roboto;
    color:black;
}

h1, h2, h3, h4{
    font-family: Roboto;
}

*{
    box-sizing: border-box;
}

.padding-sides{
    padding-left: 7%;
    padding-right: 7%;
}

.padding-top-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-right{
    padding-right: 40px;
}

.reviews .profile-picture{
    width:50px;
    height:50px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-top: -25px;
}

.reviews{
    background-color: #E9E9E9;
    padding:20px;
    padding-top: 0px;
    margin-top: 40px;
}

.reviews p.reviewer-name{
    margin-top: 4px;
    margin-bottom: 0px;
}

.pink-color{
    color:#DB0988;
}

.features p{
    color:white;
    max-width: 200px;
    text-align: center;
    display: inline-block;
}

.features img{
    margin-bottom: 10px;
}

.features .feature{
    padding-bottom: 50px;
    padding-top: 50px;
}

.features .feature p{
    margin-bottom: 0px;
}

.app-buttons button .app-button-container,.app-buttons button .app-detail-container{
    display: inline-block;
    vertical-align: middle;
}

.app-buttons button .app-button-container{
    padding-right: 10px;
}

.app-buttons button p{
    color:white;
    margin-top:1px;
    margin-bottom: 1px;
}

.app-buttons button{
    padding-left:30px;
    padding-right:30px;
    margin-bottom: 10px;
}

.app-buttons button .app-detail-container{
    text-align: left;
    padding-left: 10px;
}

.contact-form{
    width:300px;
    display: inline-block;
    max-width: 100%;
}

input,textarea{
    width:100% !important;
    margin-bottom: 10px !important;
    border:2px solid #a90066 !important;
    border-radius: 8px !important;
    color:#a90066 !important;
    padding:10px !important;
    height:initial !important;
}

.contact-form textarea{
    height:100px !important;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f58fcd!important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #f58fcd!important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #f58fcd!important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #f58fcd!important;
}
input::placeholder{
    color:#f58fcd!important;
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f58fcd!important;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color: #f58fcd!important;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: #f58fcd!important;
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: #f58fcd!important;
}
textarea::placeholder{
    color:#f58fcd!important;
}

.contact .sub-title{
    margin-bottom: 20px;
    font-weight: bolder;
}

.contact-text{
    width:300px;
    display: inline-block;
    max-width: 100%;
}

footer{
    background-color: #232525;
    padding:10px;
}

footer ul li {
    display: inline-block;
    padding:5px;
    color:white;
}

footer a{
    color:white;
}

footer ul{
    margin:0px;
    padding:0px;
}

footer p{
    color:white;
    margin:0px;
    padding:10px;
}

.logo-black{
    display: none;
}

.language{
    margin-top: 5px;
}

.language button{
    border-radius: 100%;
    width:32px;
    padding:0px;
    margin-right: 10px;
}

.language-dropdown{
    width:37px;
    left:-10px;
    background-color: transparent;
}

.language-dropdown li a{
    padding: 8px;
    padding-top: 6px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 5px;
    border:none;
}

.language-dropdown li a.english-flag{
    background: url("/images/USA.png");
    background-size: cover;
    background-position: center center;
}

.language-dropdown li a.spanish-flag{
    background: url("/images/MX.png");
    background-size: cover;
    background-position: center center;
}

.language-main{
    border:none;
}

.language-main.spanish-flag{
    background: url("/images/MX.png");
    background-size: cover;
    background-position: center center;
}

.language-main.english-flag{
    background: url("/images/USA.png");
    background-size: cover;
    background-position: center center;
}

.product-description{
    margin-top: 50px;
}

#shop{
    /* start 'enter' transition */
        &.ng-enter {
            /* transition on enter for .5s */
            transition: .5s;
     
            /* start with opacity 0 (invisible) */
            opacity: 0;
        }
     
        /* end 'enter' transition */
        &.ng-enter-active {
            /* end with opacity 1 (fade in) */
            opacity: 1;
        }
}

#cart .cart-product-image{
    min-width:80px;
    min-height:50px;
    background-image: url(/images/bg1.png);
    background-size: cover;
    background-position: center center;
}

#cart .uk-modal-dialog{
    position:absolute;
    right:0px;
    background-color: rgba(255,255,255,1);
    margin:0px;
}

#cart{
    /*background-color: transparent;*/
}

#cart .uk-modal-dialog{
    -webkit-transform:translateX(100px) !important;
    transform: translateX(100px) !important;
    width:445px;
}

#cart.uk-open .uk-modal-dialog{
    -webkit-transform:translateX(0) !important;
    transform: translateX(0) !important;
    min-height:100%;
}

.cart-details{
    border-bottom:1px solid #666666;
    padding-bottom: 10px;
    padding-top: 10px;
}

.checkout-button{
    padding-top: 10px;
    font-weight:bolder;
}

.choose-plan-button.active{
    color:#a90066;
    border-color: #a90066;
}

.choose-payment-type-button.active{
    color:#a90066;
    border-color: #a90066;
}

.register-login-container{
    border:2px solid #a90066;
    border-radius: 8px;
    padding:25px;
    margin:25px;
    -webkit-flex:initial !important;
    flex:initial !important;
    display:inline-block;
}

.cart-container .cart-product-image{
    width:80px;
    height:80px;
    background-image: url(/images/bg1.png);
    background-size: cover;
    background-position: center center;
    margin-right: 8px;
    margin-bottom: 5px;
}

.inline-inputs input{
    width:initial !important;
    display: inline-block;
}

.inline-inputs input:first-child{
    min-width:300px;
}

.cart-container{
    padding:20px 0px;
    border-bottom:1px solid #999999;
}

.explore-pointers-container{
    border-left:1px solid #DB0988;
    text-align:left;
    display: inline-block;
    height:100%;
    width:60%;
    min-height: calc(100vh - 110px);
}

.explore-pointers-container ul li{
    display: block;
    margin-left: -45px;
}

.explore-pointers-container ul li .number{
    width:30px;
    height:30px;
    text-align: center;
    border-radius: 100%;
    background-color: #DB0988;
    color:white;
    padding-top: 4px;
    margin-right: 20px;
}

.explore-pointers-container ul li .content{
    font-weight: bolder;
    margin-top:4px;
    width:calc(100% - 50px);
}

.grey{
    color:#666666;
}

.explore-container-features h2, .explore-container-features p, .explore-container-analytics h2, .explore-container-analytics p{
    color:white;
}

.explore-container-features{
    background-color:#232525; 
    color:white;
}

.explore-container-analytics{
    background-color: #DB0988;
    color:white;
}

.container-heading{
    margin-bottom:40px;
}

.explore-container-analytics .percent-big{
    font-size:40px;
}


.explore-container-analytics .uk-width-medium-1-3 div p{
    max-width:300px;
    display: inline-block;
}

.inner-container-plans{
    border:2px solid #DB0988;
    border-radius: 8px;
    padding:10px;
    height:100%;
}

.plans-about-us .uk-width-medium-1-3{
    padding:10px;
}

#register input{
    display: inline-block;
    max-width: 400px;
}
.products:nth-of-type(1) {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.products .select-product{
    width:20px;
    height:20px;
    border-radius: 100%;
    background-color: #ebebeb;
    border:1px solid #ebebeb;
    cursor: pointer;
    margin:0px 2px;
}

.select-product.active{
    border:2px solid #DB0988;
}

.products .product-selector{
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-colors-container{
    width:450px;
    max-width: 100%;
    display: inline-block;
}

.product-colors-container .uk-dotnav{
    margin-bottom: -30px;
}

.product-colors-container .uk-dotnav li a{
    border: 2px solid #DB0988;
    width:10px;
    height:10px;
}

.product-colors-container .uk-dotnav li.uk-active a{
    background-color: #DB0988;
}

.product-features ul.features li{
    display: block;
}
.product-features ul{
    margin:0px;
    padding:0px;
    padding-bottom: 20px;
}

.uk-form-select.uk-button.select-plan-cover{
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    background-color: white;
    color:#666666;
    border-color: #666666;
    
}

.uk-form-select.uk-button.select-plan-cover.active{
    color:#DB0988;
    border-color: #DB0988;
}


.fa-plus, .fa-minus{
    cursor: pointer;
}

.cart-all-details-sidebar{
    margin-top: -5px;
}

.cart-all-details-sidebar p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.navbar-cart{
    background-color: transparent;
    border:none;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 0px;
    cursor: pointer;
}

.cart-item-grid{
    margin-top:16px;
}
.cart-count{
    font-weight: bolder;
    font-size: 15px;
    border-radius: 100%;
    background-color: white;
    width:20px;
    height:20px;
    display: inline-block;
    padding-top: 2px;
    color:#DB0988;
    cursor: pointer;
}

.main-cart-details-list p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.main-cart-details-list-details{
    margin-top: -5px;
}

.main-cart-details-list{
    margin-bottom: 10px;
}






.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement{
    border: 2px solid #DB0988;
    border-radius: 20px;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.card-element{
    margin-bottom: 10px;
}

.min-vh{
    min-height: calc(100vh - 62px - 140px);
}

.app-buttons button{
    margin-bottom: 20px;
}

.app-buttons {
    padding-top: 5px;
}

.contact-form textarea{
    margin-bottom: 40px !important;
}

.collections{
    margin-bottom: 30px;
}

.inner-container-features{
    padding-bottom: 40px;
    padding-top: 20px;
}

.small-top-bottom-margin-p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.plan-details-plans{
    margin-bottom:0px;
}

.modal-cart-product-image{
    margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
    .uk-width-small-1-5.uk-text-right {
        text-align: left !important;
    }
    .loginscreen{
        flex-wrap: wrap;
    }

    .uk-text-right{
        text-align: left !important;
    }
}

@media only screen and (max-width: 762px) {
    .loginscreen{
        flex-wrap: wrap;
    }

    .main-cart-right-details{
        text-align: left!important;
        margin-bottom: 20px !important;
    }

    .main-cart-right-details div{
        margin-bottom: 0px !important;
    }

    .main-cart-details-list{
        margin-bottom: 0px;
        display:block !important;
    }
    .cart-product-image{
        display: block;
    }

    .total-payment-page{
        text-align: left !important;
    }

    .main-page-slider .uk-animation-middle-left{
        -webkit-transform-origin:95% 50% !important;
        transform-origin:80% 50% !important;
        background-position-x:-450px;
    }

    .main-page-slider .uk-animation-scale{
        animation-name:uk-scale-1;
    }
}

.contact1{
    border-right: 1px solid white;
}

@media only screen and (max-width: 587px) {
    .contact1{
        border-right: none;
    }
}

.footer-contacts{
    font-size: 11px;
}

.footer-contacts{
    position: absolute;
    bottom:0px;
    left:15px;
}

footer{
    color:white;
}

.selectPlan{
    font-size: 16px;
}


.gery-light{
    color:#999999;
}

.lightgrey{
    color:#999999;
}

.order-main-total{
    font-size: 17px;
}

.inner-container-plans h3{
    margin-top: 0px;
}

.inner-container-plans h4{
    margin-bottom: 2px;
}

.quotes{
    position:absolute;
    left:18px;
    top:-7px;
}

.choose-payment-type-button{
    margin-bottom: 10px;
}

.deviceBasePrice{
    font-size: 30px;
}

.delete-button{
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: transparent;
    border:none;
    color:red;
    cursor: pointer;
}

.quantityselector{
    display: none;
}

.products-container .product-image img{
    height:200px;
}

.nomargin{
    margin:0px;
}

.feature-image-cont{
    min-width:35px;
    margin-right: 10px;
    text-align: left;
}

.features-container{
    text-align: left;
    padding-bottom: 20px;
    min-width:170px;
}

.features-container .subdescription{
    line-height: 1em !important;
}

.feature-image-cont img{
    width:100%;
}

.cart-process .line{
    width:100%;
    height:4px;
    background-color: #999;
    border-radius: 18px;
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
}

.cart-process{
    max-width: 700px;
    width:100%;
    display: inline-block;
    position: relative;
}

.cart-process .cart-circle{
    display: inline-block;
    position:relative;
    top:-20px;
    width:35px;
}

.cart-process .cart-circle .circle{
    width:40px;
    height:40px;
    background-color: #999;
    border-radius: 100%;
    padding-top: 10px;
    color:white;
}

.cart-process .cart-circle.active .circle{
    background-color: #DB0988;
}

.cart-process .line.active{
    background-color: #DB0988;
}

.cart-process .cart-circle.left{
    float:left;
    left:-10px;
}

.cart-process .cart-circle.right{
    float:right;
    right:-10px;
}

.cart-process .cart-circle .text{
    width:100%;
    white-space: nowrap;
    position:relative;
    left:-50%;
    padding-top: 10px;
    font-weight: bolder;
    color:#999;
}

.cart-process .cart-circle.active .text{
    color:#DB0988;
}

.plan-select{
    width:100%;
    border-radius: 20px;
    border:2px solid #999;
    height:100%;
    padding:10px;
    cursor: pointer;
}

.plan-select p{
    color: inherit;
}

.plan-select.active{
    color:#DB0988;
    border-color: #DB0988;
}

.how-it-works{
    display: inline-block;
    vertical-align: middle;
}

.plan-details{
    display: none;
}

.plan-details.active{
    display: inline-block;
}




/*----------christmas--------*/

.image-container-slideset{
    height:200px;
    background-size: cover;
    background-position: center center;
}

.xmas{
    background-size: cover;
    background-position: top center;
}

.xmas-font{
    font-family:Sofia;
    color:#DA0E36;
    font-size: 50px;
}



.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;
    
 position: relative;
 background: #DA0E36;
 color: #fff;
 text-align: center;
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #b00a2b;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #890922 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.xmas-container .uk-navbar.active{
    background:#DA0E36 !important; 
}

.x-mas-prices{
    margin-top: 20px;
}

.strikeout{
    text-decoration: line-through;
}

.xmas-container .discounted-price{
    color:#DB0988;
}

.xmas-container .uk-slidenav-position .uk-slidenav{
    top:30% !important;
}

.xmas-container .free-plan-details{
    background-color:#DA0E36;
    color:white; 
}

.xmas-container .free-plan-details p, .xmas-container .free-plan-details h2{
    color:white;
}
.xmas-container .free-plan-details p{
    margin-bottom: 0px;
}