<!DOCTYPE html>
<html>
<head>
    <title>Kwema</title>
</head>
<body>
    <div class="image-container">
        <img src="/images/logo-normal.png">
    </div>
    <div>
        <h1>Confirme a sua conta</h1>
        <p>Flata pouco. Confirme a sua conta abaixo papa concluir o seu registro no Spotify</p>
        <p>Email: <%=user.email%></p>
        <p>Password: <%=password%></p>
        <a href="http://kwema.com.mx/shop/login"><button>Login now</button></a>
    </div>
</body>
</html>